*.py[cod]
*.egg-info/
__pycache__/
dist
examples
.coverage
.pytest_cache
docs
konfai/metric/models
.vscode
.mypy_cache
apps/impact_reg/impact_reg_konfai/bin
apps/impact_reg/impact_reg_konfai/tests
Local/