*.py[cod]
*.egg-info/
__pycache__/
dist
examples/*/Dataset
examples/*/Checkpoints
examples/*/Statistics
examples/*/Predictions
examples/*/Evaluations
examples/Synthesis/Task_1
.coverage
.pytest_cache
.vscode
.mypy_cache
apps/impact_reg
docs/build/
.codex
