name: tests

on:
  push:
  pull_request:

jobs:
  pytest:
    runs-on: ${{ matrix.os }}
    env:
      HF_HOME: ${{ github.workspace }}/.cache/huggingface
      HUGGINGFACE_HUB_CACHE: ${{ github.workspace }}/.cache/huggingface/hub
      TRANSFORMERS_CACHE: ${{ github.workspace }}/.cache/huggingface/transformers

      HF_HUB_DOWNLOAD_TIMEOUT: "300"
      HF_HUB_ETAG_TIMEOUT: "60"

      HF_HUB_ENABLE_HF_TRANSFER: "1"

      HF_TOKEN: ${{ secrets.HF_TOKEN }}
      HUGGINGFACE_HUB_TOKEN: ${{ secrets.HF_TOKEN }}
      
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install -U pip
          pip install -e .
          pip install pytest

      - name: Restore Hugging Face cache
        uses: actions/cache@v4
        with:
          path: .cache/huggingface
          key: hf-${{ runner.os }}
      
      - name: Run pytest
        run: |
          pytest -q